.fieldset-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.fieldset-flex button {
  margin-top: 20px;
  align-self: center;
}

.form__character-count {
  display: flex;
  justify-content: right;
}
