*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
}

.dark-mode {
  background-color: rebeccapurple;
  color: white;
}

.dark-mode-disabled {
  background-color: green;
}

main {
  padding-inline: 16px;
  padding-top: 16px;
}

nav {
  position: relative;
}

ul {
  list-style: none;
}

h2 {
  font-size: 32px;
}
