.aboutMe {
  background-color: gray;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.button-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.dark-mode-div {
  align-self: flex-end;
}
