.headerTop {
  background-color: pink;
}

.mainHeaderTitle {
  color: blueviolet;
}

p {
  color: lightgreen;
  text-align: center;
}

.questionBox1 {
  position: relative;
  margin: 20px 20px 20px 20px;
  padding: 20px 20px 20px 20px;
  background-color: brown;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.questionBox1Tag1 {
  align-self: flex-start;
}

.questionBox2 {
  position: relative;
  margin: 20px 20px 20px 20px;
  padding: 20px 20px 20px 20px;
  background-color: brown;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.questionBox2Tag2 {
  align-self: flex-start;
}

.questionBox3 {
  position: relative;
  margin: 20px 20px 20px 20px;
  padding: 20px 20px 20px 20px;
  background-color: brown;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.questionBox3Tag3 {
  align-self: flex-start;
}

.icon1 {
  margin: 0;
  position: absolute;
  bottom: 150px;
  right: 10px;
}

.icon2 {
  margin: 0;
  position: absolute;
  bottom: 170px;
  right: 10px;
}

.icon3 {
  margin: 0;
  position: absolute;
  bottom: 150px;
  right: 10px;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: sticky;
}

.navIcon {
  width: 50px;
}
