.headerTop {
  background-color: rgb(255, 111, 159);
}

.mainHeaderTitle {
  text-align: center;
  color: blueviolet;
}

p {
  color: lightgreen;
  text-align: center;
}

button {
  max-width: fit-content;
  background-color: rgb(24, 188, 183);
  color: red;
}

.questionBox1 {
  position: relative;
  margin: 20px 20px 20px 20px;
  padding: 20px 20px 20px 20px;
  background-color: rgb(54, 173, 206);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.questionBox1Tag1 {
  align-self: flex-start;
}

.questionBox2 {
  position: relative;
  margin: 20px 20px 20px 20px;
  padding: 20px 20px 20px 20px;
  background-color: rgb(54, 173, 206);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.questionBox2Tag2 {
  align-self: flex-start;
}

.questionBox3 {
  position: relative;
  margin: 20px 20px 20px 20px;
  padding: 20px 20px 20px 20px;
  background-color: rgb(54, 173, 206);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.questionBox3Tag3 {
  align-self: flex-start;
}

.icon1 {
  margin: 0;
  position: absolute;
  bottom: 150px;
  right: 10px;
}

.icon2 {
  margin: 0;
  position: absolute;
  bottom: 170px;
  right: 10px;
}

.icon3 {
  margin: 0;
  position: absolute;
  bottom: 150px;
  right: 10px;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: sticky;
  padding: 0;
}

.navIcon1 {
  width: 50px;
}

.navIcon2 {
  width: 50px;
}

.navIcon3 {
  width: 50px;
}

.navbar a:hover .navIcon1 {
  background-color: blueviolet;
}

.navbar a:hover .navIcon2 {
  background-color: blueviolet;
}

.navbar a:hover .navIcon3 {
  background-color: blueviolet;
}
