*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  padding-inline: 16px;
}

ul {
  list-style: none;
}

.headerTop {
  background-color: rgb(255, 111, 159);
  position: sticky;
  top: 0;
  padding-block: 16px;
  z-index: 1;
}

.mainHeaderTitle {
  margin: 0;
  text-align: center;
  color: blueviolet;
}

p {
  color: lightgreen;
  text-align: center;
}

button {
  max-width: fit-content;
  background-color: rgb(24, 188, 183);
  color: red;
}

.questionBoxList {
  padding: 0;
}

.questionBox1 {
  margin: 20px 20px 20px 20px;
  padding-block: 32px;
  background-color: rgb(54, 173, 206);
  color: aquamarine;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}

.questionBox1Flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.tags1Flex {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
}

.questionBox2 {
  margin: 20px 20px 20px 20px;
  padding-block: 32px;
  background-color: rgb(54, 173, 206);
  color: aquamarine;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}

.questionBox2Flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.tags2Flex {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
}

.questionBox3 {
  margin: 20px 20px 20px 20px;
  padding-block: 32px;
  background-color: rgb(54, 173, 206);
  color: aquamarine;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}

.questionBox3Flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.tags3Flex {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
}

.icon1 {
  position: absolute;
  top: -40px;
  right: 10px;
}

.icon2 {
  position: absolute;
  top: -40px;
  right: 10px;
}

.icon3 {
  position: absolute;
  top: -40px;
  right: 10px;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: sticky;
  list-style: none;
  padding: 0;
  bottom: 0;
  background-color: brown;
}

.navIcon1 {
  width: 50px;
}

.navIcon2 {
  width: 50px;
}

.navIcon3 {
  width: 50px;
}

.navbar a:hover .navIcon1 {
  background-color: blueviolet;
}

.navbar a:hover .navIcon2 {
  background-color: blueviolet;
}

.navbar a:hover .navIcon3 {
  background-color: blueviolet;
}
